body{
	margin:0;
	padding: 0;

}

ul{
	margin:0 auto;
	padding: 0;
	background-color:#f1f1f1;
	width:100%;
	height: 50px;
	text-align: center;

}
li{
	display: inline-block;
}
li a{
	display: inline-block;
	color:#000;
	padding: 15px 16px;
	text-decoration: none;
}
li a.active{
	background-color:#4caf50;
	color:#fff;

}
li a:hover:not(.active){
	background-color: #555;
	color: #fff;
}


section{
	height: 500px;
	padding-top: 30px;

}
article{
	width: 100%;
	height: 250px;
}
article iframe{
	width: 100%;
	height: 250px;
}
.l1{
	width: 31.5%;
	height: 150px;
	display: inline-block;
	margin-right: 1.5%;

}
.row{
	width: 75%;
	margin: 0 auto;
}
.a1{
background-image: url('../image/items/1.png');
background-size: cover;
background-repeat: no-repeat;
}
.a2{
background-image: url('../image/items/2.png');
background-size: cover;
background-repeat: no-repeat;
}
.a3
{
background-image: url('../image/items/3.png');
background-size: cover;
background-repeat: no-repeat;
}